<h2>{{ artist.0.name }} profile</h2>
<p>{{ artist.0.name }}{{ ' has a popularity of '|t }}{{ artist.0.popularity }}</p>
<div><a href="{{ artist.0.external_url }}">{{ artist.0.name }} website</a></div>
